
header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 65px;
    align-items: center;
    padding: 40px;
  }

  .nav ul {
    display: flex;
    gap: 20px;
    align-items: center;
    list-style-type: none;
  }
  .nav a{
    text-decoration: none;
    color: white;
    background-color: #987554;
    border-radius: 0.3em;
  }
  .nav{
    font-weight: 700;
    text-decoration: none;
  }


  
  main {
    width: 100%;
  }
  
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: #987554;
    color: white;
}
.hintergrund{
    padding:200px
}
#top{background-color:#987554;
    height: 500px;
    width: 100%;
    padding: 200px;
    margin: 0;
}
#middle{background-color:#d2b48c;
    height: 500px;
    width: 100%;
    padding: 200px;
    margin: 0;
}
#bottom{background-color: #e5d3b3;
    height: 500px;
    width: 100%;
    padding: 200px;
    margin: 0;
}


h1{
    font-family:'Times New Roman', Times, serif;

}