
/*navigationsbar*/
header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 65px;
    align-items: center;
    padding: 40px;

}
nav{
    font-weight: 700;
    text-decoration: none;
    
}
nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
}
nav a {
text-decoration: none;
border-radius: 0.3em;
color:white ;
background-color: #664229;

}
/* --- */
body {
    margin: 0;
    padding:0;
    border: 0;
}
.hintergrund{
    padding:200px
}
#top{background-color:#987554;
    padding: 200px;
    margin: 0;
}
#middle{background-color:#d2b48c;
    padding: 200px;
    margin: 0;
}
#bottom{background-color: #e5d3b3;
    padding: 200px;
    margin: 0;
}


h1{
    font-family:'Times New Roman', Times, serif;

}